.scrow {
    background-color: #ccc;
    height:100px;
    width: 100px;
    overflow:auto;
    margin:20px;
    padding:20px;
}

.texto {
    background-color:#ccc;
    height:900px;
    width:100px;
}
.rolagem {
    width:30px;
    height:30px;
    background-color:red;
    border-radius:15px;
    position: fixed;
    z-index: 999;
    bottom:0;
    right:0;
    cursor:pointer;
}